*{
    font-family: 'Rubik';
    font-weight: lighter;
}
body{
    background-color: var(--background);
    margin: 0px 0px 0px 0px;
}
.siteContainer{
    z-index: -1;
    width: 100%;
}

:root {
    --shadow: rgb(50,50,50);
    --clearWhite: rgba(255, 255, 255, 0.2);
    --tinted: rgba(50,50,50,0.2);

     --background: rgb(115, 115, 255);
    /*red --background: rgb(255, 50, 50);*/
    --header: rgb(50,50,50);
    --footer: rgb(225,225,225);
    --navText: rgb(225, 225, 225);
    --button: rgb(225,225,225);

    --splitDiv: rgb(150,150,150);

    --head: rgb(255,255,255);
    --para:rgb(50, 50, 50);
    
    
}


/* Header */
header{
    position: relative;
    left: 0;
    top: 0;
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    background-color: var(--header);
    z-index: 1;
    padding-top: 2px;
    margin-bottom: 10.5em;
}
#logoTop1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 15em;
    margin-top: .2em;
    filter: drop-shadow(0px 5px 5px var(--shadow));
}
#Menu{
    display: none;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.5% 0% 2% 0%;
}
.navOption{
    width: 100%;
    min-width: fit-content;
    height: 50%;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    text-decoration-color: transparent;
    color: var(--navText);
}

nav a:hover {
    transition: 0.5s;
    text-decoration: underline;
}


.navOption{
    z-index: 1;
}
.dropOption{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    Font-size: large;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    text-decoration-color: transparent;
    color: black;
}
.navDropdown{
    width: 100%;
    display: none;
    flex-direction: column;
    box-shadow: 0px 8px 8px 0px var(--darkGrey);
    z-index: 10;
    background-color: var(--clearWhite);
}
.dropOption:hover + .navDropdown {
    display: flex;

}
.navDropdown:hover{
    display: flex;
}

footer{
    background-color: var(--footer);
    padding-top: 1em;
    margin-top: 1em;
}
.footerDiv{
    width: 100%;
}
.socialBar{
    margin: auto;
    margin-bottom: -2em;
    text-align: center;
}
.smallIcon{
    width: 3em;
    margin: 0em .5em .5em .5em;
}
.bottomText{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.copyrightText{
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-size: medium;
}
.createdByText{
    width: 100%;
    text-align: right;
    margin-right: 10px;
    font-size: medium;
}

/*std text*/
.heading{
    font-size: 2vw;
    text-align: center;
    color: var(--head);
}
.subhead{
    font-size: 2vw;
    color: var(--head);
    margin-bottom: 0px;
    text-align: left;
}
.subhead2{
    font-size: 1.25vw;
    color: var(--head);
    margin-top: 0px;
    text-align: left;
}
p{
    font-size: 1.5vw;
    text-align: center;
    color: var(--para);
}
h1{
    font-size: 2vw;
    text-align: center;
    color: var(--para);
    margin: auto 0 auto 0;
}
h2{
    font-size: large;
    text-align: center;
    color: var(--head);
}

/*Home*/
.infoPara{
    margin-left: 20%;
    margin-right: 20%;
}

.splitDiv{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
}
.sideDiv{
    display: block;
    width: 45%;
    margin: 0% 5% 1% 5%;
    height: fit-content;
    box-shadow: -5px 5px 4px var(--shadow);
    background-color: var(--clearWhite);
    /*:: white solid ;*/
    padding: 0% 1% 1% 1%;
}

.socialBlock{
    display:block;
    object-fit: contain;
    width: 33%;
    height: fit-content;
}

/* .fb-page{
    display: block;
    margin: auto;
    width: 550px !important;
    border-radius: 5px;
} */
body > div.siteContainer > div:nth-child(5) > div:nth-child(1) > div {
    display: block;
    margin: auto;
    width: 90%;
}
body > div.siteContainer > div:nth-child(5) > div:nth-child(1) > div > span {
    display: block;
    margin: auto;
    width: 500px;
    border-radius: 5px;
}
body > div.siteContainer > div:nth-child(5) > div:nth-child(1) > div > span > iframe{
    display: block;
    margin: auto;
    width: 500px;
    border-radius: 5px;
}

.embedsocial-hashtag{
    background-color: white;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin: 0 1% 0 1%;
}

.score{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0;
    justify-content: center;
}
.teamLogo{
    display: block;
    width: 7.5em;
    height: 7.5em;
    margin: 0% 2% 2% 2%;
    object-fit: contain;
}

/*Squad*/
.coachInfo{
    width: auto;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-right: 1%;
    margin-left: 1%;
}
.coachPhoto{
    width: 10%;
    /*height: 15em;*/
    display: block;
    object-fit: contain;
    padding: 1% 1% 1% 1%;
}
.SquadInfo{
    width: 98%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}
.playerCard{
    width: auto;
    height: auto;
    display: block;
    background-color: var(--tinted);
    padding: 1% 2% 1% 2%;
}
.playerPhoto{
    width: 80%;
    height: auto;
    object-fit: contain;
    margin-left: 10%;
    margin-right: 10%;
}

/*Contact*/

.link{
    font-size: 2em;
    color: var(--button);
    display: block;
    margin: auto;
    width: fit-content;
}

/*Club Details*/

button{
    width: 50%;
    height: 10%;
    margin: 0% 25% 5% 25%;
    font-size: large;
    filter: drop-shadow(0px 5px 5px var(--shadow));
    border-radius: 5px;
    border: none;
    background-color: var(--button);
    display: block;
}
button:hover{
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0px 5px 5px var(--shadow));
}
