*{
    font-family: 'Rubik';
    font-weight: lighter;
}
body{
    background-color: var(--background);
    margin: 0px 0px 0px 0px;
}
.siteContainer{
    z-index: -1;
    width: 100%;
}

:root {
    --shadow: rgb(50,50,50);
    --clearWhite: rgba(255, 255, 255, 0.2);
    --tinted: rgba(50,50,50,0.2);

     --background: rgb(115, 115, 255);
    /*red --background: rgb(255, 50, 50);*/
    --header: rgb(50,50,50);
    --footer: rgba(225,225,225);
    --navText: rgb(225, 225, 225);
    --button: rgb(225,225,225);

    --splitDiv: rgb(150,150,150);

    --head: rgb(225,225,225);
    --para:rgb(50, 50, 50);
    
    
}


/* Header */
header{
    position: relative;
    left: 0;
    top: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    background-color: var(--header);
    z-index: 1;
    padding-top: 2px;
    margin-bottom: 1%;
}
#logoTop1{
    height: 6em;
    filter: drop-shadow(0px 5px 5px var(--shadow));
    padding-left: 5%;
}

#Menu{
    filter: invert(1);
    width: 3em;
    position: absolute;
    right:0;
    padding: 1.5em 1.5em 1.5em 1.5em ;
}
#Menu:hover{
    cursor: pointer;
}

nav{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 6em;
    background-color: var(--header);
}
#NavBar{
    display: none;
}
.navOption{
    width: 100%;
    min-width: fit-content;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    text-decoration-color: transparent;
    color: var(--navText);
    padding-bottom: .5em;
    padding-top: .5em;
}

nav a:hover {
    transition: 0.5s;
    text-decoration: underline;
    background-color: var(--clearWhite);
}


.navOption{
    z-index: 1;
}
.dropOption{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    Font-size: large;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    text-decoration-color: transparent;
    color: black;
}
.navDropdown{
    width: 100%;
    display: none;
    flex-direction: column;
    box-shadow: 0px 8px 8px 0px var(--darkGrey);
    z-index: 10;
    background-color: var(--clearWhite);
}
.dropOption:hover + .navDropdown {
    display: flex;

}
.navDropdown:hover{
    display: flex;
}

footer{
    width: 100%;
    background-color: var(--footer);
    padding-top: 1%;
    margin-top: 1%
}
.footerDiv{
    width: 100%;
}
.socialBar{
    display: none;
    margin: auto;
    text-align: center;
}
.smallIcon{
    width: 15%;
    margin: 1% 1% 1% 1%;
}
.bottomText{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.copyrightText{
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-size: .75em;
}
.createdByText{
    width: 100%;
    text-align: right;
    margin-right: 10px;
    font-size: .75em;
}

/*std text*/
.heading{
    font-size: 2.5em;
    text-align: center;
    color: var(--head);
}
.subhead{
    font-size: 1.75em;
    color: var(--head);
    margin-bottom: 0px;
    text-align: left;
}
.subhead2{
    font-size: 1em;
    color: var(--head);
    margin-top: 0px;
    text-align: left;
}
p{
    font-size: 1em;
    text-align: center;
    color: var(--para);
}
h1{
    font-size:2.5em;
    text-align: center;
    color: var(--para);
}
h2{
    font-size: .8em;
    text-align: center;
    color: var(--head);
}

/*Home*/
.infoPara{
    margin-left: 5%;
    margin-right: 5%;
}

.splitDiv{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}
.sideDiv{
    display: block;
    margin: 2% 5% 2% 5%;
    height: fit-content;
    box-shadow: -5px 5px 4px var(--shadow);
    background-color: var(--clearWhite);
    border: white solid .4em ;
    padding: 0% 1% 1% 1%;
}

.socialBlock{
    display:block;
    object-fit: contain;
    margin: 0% 5% 5% 5%;
}


body > div.siteContainer > div:nth-child(5) > div:nth-child(1) > div {
    display: block;
    margin: auto;
    width: 100%;
}
body > div.siteContainer > div:nth-child(5) > div:nth-child(1) > div > span {
    display: block;
    margin: auto;
    width: 500px;
    border-radius: 5px;
}
body > div.siteContainer > div:nth-child(5) > div:nth-child(1) > div > span > iframe{
    display: block;
    margin: auto;
    width: 500px;
    border-radius: 5px;
}

.embedsocial-hashtag{
    background-color: white;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin: 0 1% 0 1%;
}

.score{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0;
    justify-content: center;
}
.teamLogo{
    display: block;
    width: 30%;
    height: auto;
    margin: 0% 2% 2% 2%;
    object-fit: contain;
}

/*Squad*/
.coachInfo{
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-right: 2%;
    margin-left: 2%;
}
.coachPhoto{
    width: 25%;
    height: auto;
    display: block;
    object-fit: contain;
    padding: 1% 1% 1% 1%;
}
.SquadInfo{
    width: 98%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin: 1% 1% 1% 1%;
}
.playerCard{
    width: 20%;
    height: auto;
    display: block;
    flex-wrap: wrap;
    background-color: var(--tinted);
    padding: 1% 2% 1% 2%;
}
.playerPhoto{
    width: 90%;
    height: auto;
    padding: 0% 5% 0% 5%;
}

/*Contact*/

.link{
    font-size: 2em;
    color: var(--button);
    display: block;
    margin: auto;
    width: fit-content;
}

/*Club Details*/

button{
    width: 50%;
    height: 10%;
    margin: 0% 25% 5% 25%;
    font-size: large;
    filter: drop-shadow(0px 5px 5px var(--shadow));
    border-radius: 5px;
    border: none;
    background-color: var(--button);
    display: block;
}
button:hover{
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0px 5px 5px var(--shadow));
}
